body{
      background-color: #ffffff;
      color: #000000;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
      padding: 0;

  }

  .top {
      display: flex;
      flex-flow: row-reverse;
      flex-direction: row-reverse;
      flex-wrap: initial;
      align-items: center;
      padding: 12px 15px 15px 15px;
      font-size: 12px;
  }


  a{
      color: #000000;
      text-decoration: none;
      text-decoration-line: none;
      text-decoration-style: none;
      text-decoration-color: initial;
      margin: 8px;
  }

  a:hover{
      text-decoration: underline;
      color: grey;
  }

  .account{
      width: 32px;
  }

  .menu{
      opacity: 0.6;
      width: 15px;    
  }

  .menu:hover{
      opacity: 1;
  }


  .container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 100px;
  }

  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0em;
}

.searchbar{
    font-size: 17px;
    margin-top: 25px;
    width: 550px;
    height: 25px;
    border-radius: 50px;
    border: 1px solid rgb(220,220,220);
    padding: 10px;
}

.searchbar:hover{
        border: 1px solid #c6c6c6;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.16), 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
        border: none;
}

.buttons{
    display: block;
}

.button{
    color: rgb(100, 100, 100);
    font-size: 15px;
    background-color: rgb(244, 244, 244);
    margin: 30px 5px;
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
    border: 1px solid rgb(215, 215, 215)
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: row;
    flex-wrap: initial;
    justify-content: space-between;
    font-size: 12px;
    background-color: rgb(244, 244, 244);
    padding-top: 12px;
    padding-bottom: 20px;
    border-top: 1px solid;
    border-top-color: rgb(220,220,220);
}

footer a {
    color: grey;
}
   
.right-foot{
    display: block;
    padding-right: 20px; 
}

.left-foot{
    display: block;
    padding-left: 20px; 
}




